<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Un site{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div id="navbar-holder">
    {% include 'navbar.html.twig' %}
</div>
<div class="container mt-3">
    <div class="page" id="page">
    {% block body %}{% endblock %}
    </div>
    <div class="subpage"></div>
</div>
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {{ encore_entry_script_tags('app') }}
    <script>
        (function onLoad(scope) {

            updateLinksForOnepage();
            updateTooltipsForOnepage();

            function updateFormsForOnepage() {
                const forms = scope.querySelectorAll('form');
                if (0 < forms.length) {
                    forms.forEach(function (form) {
                        const submit = form.querySelector('[type="submit"]');
                        submit.addEventListener('click', function (event) {
                            event.preventDefault();
                            const _form = $(form);
                            $.ajax({
                                type: "POST",
                                url: form.action,
                                data: new FormData(form),
                                contentType: false,
                                processData: false,
                                success: function success(response) {
                                    const eventForm = event.target.closest('form');
                                    const {action} = eventForm;
                                    const parsedAction = /[^/]*$/.exec(action)[0];
                                    if ('{{ path('app_register') }}'.substring(1) === parsedAction || '{{ path('app_login') }}'.substring(1) === parsedAction) {
                                        $('#navbar-holder').load('{{ path('navbar') }}', null, function () {
                                            updateLinksForOnepage();
                                        });
                                        $('#page').load('{{ path('_dashboard') }}');
                                    } else {
                                        $('#page').load($('.active').attr('href'), null, function () {
                                            updateLinksForOnepage();
                                            updateFormsForOnepage();
                                        });
                                    }
                                }
                            });
                            return false;
                        });
                    });
                }
            }

            function updateLinksForOnepage() {
                console.log('updated links !');
                const navbar = scope.querySelector('.navbar');
                navbar.style.background = 'red';
                if (undefined !== navbar) {
                    const links = navbar.querySelectorAll('a[href]');
                    if (0 < links.length) {
                        links.forEach(function (link) {
                            link.addEventListener('click', function (event) {
                                event.preventDefault();
                                const {target} = event;

                                // Definition active
                                const newLinks = Array.prototype.filter.call(links, _link => link !== _link);
                                target.classList.add('active');
                                newLinks.forEach(function (_link) {
                                    _link.classList.remove('active');
                                });

                                // Chargement page
                                const wrapper = scope.querySelector('.page');
                                const linkUrl = link.href;

                                const loading = document.createElement('div');
                                loading.classList.add(
                                    'loading__wrapper', 'd-flex', 'justify-content-center', 'align-content-center',
                                    'w-100', 'h-100'
                                );
                                loading.style.zIndex = '999999';
                                loading.style.backgroundColor = '#000b';
                                loading.style.position = 'absolute';
                                loading.style.top = 0;
                                loading.style.left = 0;
                                loading.innerHTML =
                                    '<div class="spinner-border text-light align-self-center justify-self-center" ' +
                                    'role="status"> ' +
                                    '<span class="sr-only">Loading...</span>' +
                                    '</div>';

                                wrapper.appendChild(loading);

                                fetch(linkUrl, {
                                    type: 'GET'
                                }).then(function (response) {
                                    return response.text();
                                }).then(function (response) {
                                    const hasResponseNavbar = -1 !== response.search('navbar');
                                    if (false === hasResponseNavbar) {
                                        wrapper.innerHTML = response;
                                    } else {
                                        document.body.outerHTML = response;
                                        onLoad(document);
                                    }
                                    return response;
                                }).then(function (response) {
                                    updateFormsForOnepage();
                                    updateTooltipsForOnepage();
                                });
                                return false;
                            })
                        });
                    }
                }
            }

            function updateTooltipsForOnepage() {
                /*$(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })*/
            }

//            observer.disconnect();
        })(document);
    </script>
{% endblock %}
</body>
</html>